.Showcase{
    
    color:white;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $color-navy url(img/showcase_back.jpg) no-repeat center center / cover;
    text-align: center;


   

    &-subtitle{

    margin-top: 10px;

    }
      
    }
    
    
    .Search{
        margin-top: 30px;
        background-color: $color-yellow;
        padding:20px;
        box-shadow: 0 20px 40px rgb(black, .2);
        text-align: left;

    
        &-form{
    
            position: relative;
            display: flex;
            flex-direction: column;

         
        &-item{

            

            & + & {
                margin-top: 20px;
            }
        }



        }
          

        .for-work{
            font-size: $font-size-small;
            margin-top: 10px;
            display: flex;
            justify-content: center;
           

        }

        .checkbox{
            margin-left: 7px;
        }
        
    }